<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Document</title>
    <!-- Pagina destinada a adicionar produtos, mostrar todos os produtos do catalogo, remover produtos, alterar produto e busca-los.-->
</head>
<body>
    <header>
        
    <form action="/search" method="POST">
        <p id ="sc">
        <input type="text" name="scid" id="scid" placeholder="Buscar por ID ou Nome do produto">
        <button type="submit">OK</button>
        </p>
    </form>
</header>
    
    <form action="/add" method="POST">
        <fieldset id="dadosa">
        <legend>Dados</legend>
        <p> <label for="id">ID:</label>
        <input type="number" class="box" name="id" placeholder="ID do Produto" min="1" id="id"> </p>
        <p> <label for="nome">Nome:</label>
        <input type="text" class="box" name="nome" placeholder="Nome do Produto" id="nome"> </p>
        <p> <label for="preco">Preço:</label>
        <input type="number" class="box" step="0.01" min="0.01" placeholder="Preço do Produto" name="preco" id="preco"> </p>
        <p> <label for="descricao">Descrição:</label>
        <textarea type="text" class="box" name="descricao" placeholder="Descrição do Produto" id="descricao"> </textarea></p>
        <p> <label for="qtd">Quantidade:</label>
        <input type="number" class="box" name="qtd" placeholder="Quantidade em estoque"min="0" id="qtd"> </p>
        <button type="submit">OK</button>
        </fieldset>

        </form>
        <% items.forEach(function(item) { %>
            <div class="item-container">
                <div>
                    <p>ID: <%= item.id %></p>
                    <p id="descEJS">Nome: <%= item.nome %></p>
                    <p>Preço: R$<%= item.preco %> </a></p>
                    <p id="descEJS">Descrição: <%= item.descricao %></p>
                    <p>Quantidade em estoque: <%= item.qtd %></p>
                </div>
                <div class="item-buttons">
                    <form action="/remove" method="POST">
                        <input type="hidden" name="id" value="<%= item.id %>">
                        <button type="submit">Remover</button>
                    </form>
                    <form action="/alterP" method="POST">
                        <input type="hidden" name="id" value="<%= item.id %>">
                        <button type="submit">Alterar</button>
                    </form>
                </div>
            </div>
            <hr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
