<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Buscar</title>
    <!-- Pagina de pesquisa, aceitando ID ou Nome como parametros de busca, além de possuir um array para que todos os itens correspondentes
    sejam exibidos -->
</head>

<body>
    <header>
        <form action="/search" method="POST">
            <p id ="sc">
                <input type="text" name="scid" id="scid" placeholder="Buscar por ID ou Nome do produto">
            <button type="submit">OK</button>
            </p>
        </form>
    </header>
    <% if (items && items.length > 0) { %>
        <% items.forEach(function(item) { %>
            <div class="item-container">
                <div>
                    <p>ID: <%= item.id %></p>
                    <p>Nome: <%= item.nome %></p>
                    <p>Preço: <%= item.preco %></p>
                    <p>Descrição: <%= item.descricao %></p>
                    <p>Quantidade em estoque: <%= item.qtd %></p>
                </div>
                <div class="item-buttons">
                    <form action="/remove" method="POST">
                        <input type="hidden" name="id" value="<%= item.id %>">
                        <button type="submit">Remover</button>
                    </form>
                    <form action="/alterP" method="POST">
                        <input type="hidden" name="id" value="<%= item.id %>">
                        <button type="submit">Alterar</button>
                    </form>
                </div>
            </div>
            <hr>
        <% }) %>
    <% } else { %>
        <p>Nenhum item encontrado</p>
    <% } %>
    <a href="http://localhost:3333">
        <button>Voltar</button>
    </a>
</body>
</html>